@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.text_shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text_shadow_xl {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.header_title {
  font-size: 6.7em;
  font-weight: 900;
  transform: scale(1, 2);
}
